* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../../static/images/bg.png') no-repeat;
  background-size: cover;
}



#main {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  background: url('../../static/images/bg.png');

  header {
    padding-top: 10px;
    height: 72px;
    background: url('../../static/images/mainHeader.png') no-repeat;
    background-size: 100% 100%;
    position: relative;

    #backHome {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 20px;
      top: 20px;
      background: url("../../static/images/backHome.png") no-repeat;
      background-size: 100% 100%;
    }

    #logo {
      position: absolute;
      width: 300px;
      height: 25px;
      top: 15px;
      left: 18px;
      background: url("../../static/images/logo.png") no-repeat;
      background-size: 100% 100%;
    }

    #dateTime {
      position: absolute;
      height: 50px;
      top: 5px;
      right: 21%;
      width: 300px;
      text-align: left;
      font-weight: 400;
      color: #6edbf8;
      overflow: hidden;
    }

    #time {
      position: absolute;
      width: 140px;
      top: 10px;

      height: 32px;
      padding-right: 10px;
      line-height: 32px;
      font-size: 34px;
      font-family: "LcdD";
      font-weight: 400;
      color: rgba(110, 219, 248, 1);
      border-right: 1px solid #2c8ca6;
    }

    #date {
      position: absolute;
      left: 150px;
      top: 26px;
      font-size: 14px;
    }

    #weather {
      position: absolute;
      left: 150px;
      top: 5px;
      width: 150px;
      overflow: hidden;
    }

    #title {
      margin: 0 auto;
      width: 352px;
      font-size: 32px;
      font-family: MicrosoftYaHei-Bold;
      font-weight: bold;
      // color: rgba(219, 244, 255, 1);
      // text-shadow: 0px 1px 1px rgba(200, 235, 255, 1);
      background-image: -webkit-linear-gradient(bottom,
          rgba(34, 122, 255, 1),
          #79cffd,
          #adf6fd);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  main {
    flex: 1;
    display: flex;
    margin: 0 16px 16px 16px;

    .mid {
      flex: 1;
      position: relative;


    }

    .left,
    .right {
      display: flex;
      flex-direction: column;

      .item_stat {
        display: flex;
        flex-direction: column;
        background-image: url("../../static/images/mainItem.png");
        background-size: 100% 100%;

        .stat_title {
          margin: 18px 20px 10px 30px;
          flex: 0 0 20px;
          padding: 0 10px;
          border-left: 3px solid #6edbf8;
          font-size: 16px;
          text-align: left;
          color: #6edbf8;
        }
      }

      .item_stat {
        width: 432px;
        height: 256px;
        flex: 1;
        margin: 8px 0;

        &:first-child {
          margin-top: 0px;
        }

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  footer {
    margin: 0 16px;
    height: 200px;
    display: flex;
    flex-direction: column;

    .item_stat {
      flex: 1;
      border: 1px solid rgba(0, 162, 255, 1);
      background: linear-gradient(0deg, rgba(5, 34, 78, 1) 0%, rgba(5, 34, 78, 0) 100%);
      opacity: 0.8;
      position: relative;
    }

    .alarm_desc {
      flex: 0 0 20px;
    }
  }

  .border_icon {
    width: 15px;
    height: 15px;
    border-top: 3px solid #64B4FF;
    border-left: 3px solid #64B4FF;
    position: absolute;
  }

  .border_lt {
    top: -1px;
    left: -1px;
  }

  .border_rt {
    top: -1px;
    right: -1px;
    transform: rotate(90deg)
  }

  .border_rb {
    bottom: -1px;
    right: -1px;
    transform: rotate(180deg)
  }

  .border_lb {
    bottom: -1px;
    left: -1px;
    transform: rotate(-90deg);
  }
}




.header_img {
  width: 100%;
}

.wapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
