<template>
  <div class="cover_stat">
    <table
      cellspacing="0"
      cellpadding="0"
    >
      <thead>
        <tr>
          <td>序号</td>
          <td>&nbsp;&nbsp;行业&nbsp;&nbsp;</td>
          <td>覆盖设备种类</td>
          <td>价值(万)</td>
        </tr>
      </thead>
      <tbody>
        <template v-for="(item,index) in coverList">
          <tr :key="index">
            <td>{{index+1}}</td>
            <td>{{item.industry}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.price}}</td>
          </tr>
        </template>

      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: 'allCoverStat',
  data() {
    return {
      type: 'all',
      coverList: []
    }
  },
  computed: {

  },
  watch: {

  },
  created() {
    this.type = this.$route.params.type
    this.initData()
  },
  methods: {
    initData() {
      const data = window[`${this.type}Data`].statCover
      this.coverList = data
    }
  }
}
</script>
<style lang="scss" scoped>
.cover_stat {
  flex: 1;
  padding: 10px 20px 20px 20px;
  table {
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #6edbf8;
    thead td {
      line-height: 30px;
    }
    tr td:last-child {
      text-align: right;
      width: 80px;
    }
    tr td:first-child {
      text-align: left;
      padding-left: 20px;
    }
    td {
      border-bottom: 1px solid;
      border-color: rgba($color: #0184d3, $alpha: 0.4);
    }
  }
}
</style>
