<template>
  <div
    ref="echarts"
    class="echarts"
    :style="{width:canvasW+'px',height:canvasH+'px'}"
  >
  </div>
</template>
<script>
import echarts from 'echarts'
import 'echarts/map/js/china'
let chart = null
let mapTimer = null
export default {
  name: 'deviceMap',
  data() {
    return {
      option: null,
      type: 'all',
      canvasW: 1024,
      canvasH: 800,
      tooltipShow: false
    }
  },
  computed: {

  },
  watch: {

  },
  created() {
    this.type = this.$route.params.type
    // console.log(this.$route)
    if (this.$route.query.type == 1) {
      this.tooltipShow = true
    }
  },
  mounted() {
    this.canvasW = this.$refs['echarts'].offsetWidth
    this.canvasH = this.$refs['echarts'].offsetHeight
    let dom = this.$refs.echarts
    chart = echarts.init(dom)
    this.draw()
  },
  beforeDestroy() {
    if (mapTimer) {
      clearInterval(mapTimer)
      mapTimer = null
    }
    chart.dispose()
    chart = null
  },
  methods: {
    draw() {
      var geoCoordMap = window.geoCoord
      let data = JSON.parse(JSON.stringify(window[`${this.type}Data`].mapStat))
      // 每个区域根据工厂数量的多少，来随机抽取告警工厂，
      // 小于5个的时候，选取1个，大于5个的时候，选取1个以上，value设为5。
      if (data[0] instanceof Array) {
        let temp = []
        for (var i = 0; i < data.length; i++) {
          var len = parseInt(data[i].length)
          for (var j = 0; j < Math.ceil(len / 5); j++) {
            var num = Math.round(Math.random() * (len - 1))
            if (data[i][num]) {
              data[i][num].value = 5
            }
          }
          temp = temp.concat(data[i])
        }
        data = temp
      } else {
        var key = parseInt(data.length / 4)
        for (let i = 0; i < key; i++) {
          let num = Math.round(Math.random() * (data.length - 1))
          if (data[num]) {
            data[num].value = 5
          }
        }
      }

      var convertData = function (data) {
        var res = {
          data: [],
          alarm: []
        }
        for (var i = 0; i < data.length; i++) {
          var geoCoord = geoCoordMap[data[i].name];
          if (geoCoord) {
            let item = null
            switch (data[i].value) {
              case 5:
                item = {
                  name: data[i].name,
                  value: geoCoord.concat(data[i].value),
                  symbol: 'circle',
                  total: data[i].total,
                  itemStyle: {
                    normal: {
                      color: 'rgba(208, 48, 72, 1)',
                      shadowBlur: 10,
                      shadowColor: 'rgba(208, 48, 72, 1)'
                    },
                    emphasis: {
                      borderColor: 'rgba(208, 48, 72, 1)',
                      borderWidth: 6
                    }
                  }
                }
                res.alarm.push(item)
                break;
              case 4:
                item = {
                  name: data[i].name,
                  value: geoCoord.concat(data[i].value),
                  symbol: 'circle',
                  itemStyle: {
                    normal: {
                      color: '#f15270',
                      shadowBlur: 10,
                      shadowColor: '#f15270'
                    },
                    emphasis: {
                      borderColor: '#f15270',
                      borderWidth: 6
                    }
                  }
                }
                res.alarm.push(item)
                break;
              case 3:
                item = {
                  name: data[i].name,
                  value: geoCoord.concat(data[i].value),
                  symbol: 'circle',
                  itemStyle: {
                    normal: {
                      color: '#f1683a',
                      shadowBlur: 10,
                      shadowColor: '#f1683a'
                    },
                    emphasis: {
                      borderColor: '#f1683a',
                      borderWidth: 6
                    }
                  }
                }
                res.alarm.push(item)
                break;
              case 2:
                item = {
                  name: data[i].name,
                  value: geoCoord.concat(data[i].value),
                  symbol: 'circle',
                  itemStyle: {
                    normal: {
                      color: '#ff9f4a',
                      shadowBlur: 10,
                      shadowColor: '#ff9f4a'
                    },
                    emphasis: {
                      borderColor: '#ff9f4a',
                      borderWidth: 6
                    }
                  }
                }
                res.alarm.push(item)
                break;
              case 1:
                item = {
                  name: data[i].name,
                  value: geoCoord.concat(data[i].value),
                  symbol: 'circle',
                  itemStyle: {
                    normal: {
                      color: '#d9c546',
                      shadowBlur: 10,
                      shadowColor: '#d9c546'
                    },
                    emphasis: {
                      borderColor: '#d9c546',
                      borderWidth: 6
                    }
                  }
                }
                res.alarm.push(item)
                break;

              case 0:
                item = {
                  name: data[i].name,
                  value: geoCoord.concat(data[i].value),
                  symbol: 'circle',
                  symbolSize: 14,
                  total: data[i].total,
                  itemStyle: {
                    normal: {
                      color: '#11ff70',
                      borderColor: 'RGBA(24, 148, 123, 1)',
                      borderWidth: 4
                    }
                  }
                }
                res.data.push(item)
                break;
            }
          }
        }
        return res
        // return []
      };
      const chartData = convertData(data)
      console.log(chartData, 206)
      const series = [
        // 正常状态的工厂显示方式
        {
          name: '',
          type: 'scatter',
          coordinateSystem: 'geo',
          data: chartData.data,
          geoIndex: 0,
          z: 5
        },
        // 告警状态的工厂显示方式
        {
          name: '',
          type: 'effectScatter',
          coordinateSystem: 'geo',
          symbolSize: 16,
          geoIndex: 0,
          z: 5,
          rippleEffect: {
            period: 2,
            scale: 3,
            brushType: 'stroke'
          },
          data: chartData.alarm
        }]
      var option = {
        title: {
          text: '',
          x: 'center',
          textStyle: {
            color: '#fff'
          }
        },
        tooltip: {
          trigger: 'item',
          formatter: function (params) {
            console.log(params, 241)
            let stateLevel = {
              0: '正常',
              1: '1级告警',
              2: '2级告警',
              3: '3级告警',
              4: '4级告警',
              5: '告警'
            }
            var str = ''
            if (parseInt(params.value[2]) == 0) {
              str = '设备总数：' + params.data.total + ' </br>告警状态：' + (stateLevel[params.value[2]]);
            } else {
              var num = params.data.total / 10 < 1 ? 1 : parseInt(params.data.total / 10)
              str = '设备总数：' + params.data.total + ' </br>告警数量：' + num;
            }
            return str
          }
        },
        grid: {
          top: 0,
          left: 0,
          right: 0,
          bottom: 0,
          containLabel: true
        },
        // legend: {
        //   show: false,
        //   orient: 'vertical',
        //   y: 'bottom',
        //   x: 'right',
        //   data: ['pm2.5'],
        //   textStyle: {
        //     color: '#fff'
        //   }
        // },
        // visualMap: {
        //   min: 0,
        //   max: 5,
        //   calculable: true,
        //   inRange: {
        //     color: ['#11ff70', '#d9c546', '#ff9f4a', '#f1683a', '#f15270', '#d03048']
        //   },
        //   textStyle: {
        //     color: '#fff'
        //   }
        // },
        geo: [
          //上层的地图，
          {
            map: 'china',
            // roam: true,
            z: 3,
            label: {
              emphasis: {
                show: false
              }
            },
            itemStyle: {
              normal: {
                areaColor: '#032B5D',
                borderWidth: 2,
                borderColor: '#1C84C0'

              },
              emphasis: {
                areaColor: '#37a2da'
              }
            }
          },
          // 下层的地图，作为衬托使用，显示立体感
          {
            map: 'china',
            // roam: true,
            label: {
              emphasis: {
                show: false
              }
            },
            itemStyle: {
              normal: {
                areaColor: '#032B5D',
                borderWidth: 2,
                borderColor: '#1C84C0',
                shadowColor: '#1C84C0',
                shadowBlur: 5,
                shadowOffsetX: 4,
                shadowOffsetY: 4
              },
              emphasis: {
                areaColor: '#37a2da'
              }
            }
          }],
        series: series
      }
      chart.setOption(option)
      if (this.tooltipShow) {
        let alarmLen = chartData.alarm.length
        let normalLen = chartData.data.length
        let cur = 0
        let seriesIndex = 0
        if (mapTimer) {
          clearInterval(mapTimer)
          mapTimer = null
        }
        mapTimer = setInterval(() => {
          if (chart) {
            if (cur >= normalLen && seriesIndex == 0) {
              seriesIndex = 1
              cur = 0
              chart.dispatchAction({
                type: 'downplay',
                seriesIndex: 0,
                dataIndex: normalLen - 1
              })
            }
            if (seriesIndex == 1 && cur >= alarmLen) {
              seriesIndex = 0;
              cur = 0
              chart.dispatchAction({
                type: 'downplay',
                seriesIndex: 1,
                dataIndex: alarmLen - 1
              })
            }
            chart.dispatchAction({
              type: 'downplay',
              seriesIndex: seriesIndex,
              dataIndex: cur - 1
            })
            chart.dispatchAction({
              type: 'showTip',
              seriesIndex: seriesIndex,
              dataIndex: cur
            })
            chart.dispatchAction({
              type: 'highlight',
              seriesIndex: seriesIndex,
              dataIndex: cur
            })
            cur++
          }
        }, 5000)
      }

      // let show = true
      // setInterval(() => {
      //   if (show) {
      //     option.series[1].data = []
      //     chart.setOption(option)
      //     show = false
      //   }
      //   else {
      //     option.series[1].data = chartData.alarm
      //     chart.setOption(option)
      //     show = true
      //   }
      // }, 1000)
    }
  }
}
</script>
<style lang="scss" scoped>
.echarts {
  width: 100%;
  height: 100%;
}
</style>
