<template>
  <div class="expert">
    <slick
      class="slick"
      ref="slick"
      :options="slickOptions"
    >
      <template v-for="n in Math.ceil(expertList.length/3)">
        <div
          :key="n"
          class="expert_page"
        >
          <div class="expert_item">
            <span>{{formatIndex[3*(n-1)]}}</span>
            <span><img
                :src="expertList[3*(n-1)].img"
                width="31px"
                height="42px"
              ></span>
            <span>{{expertList[3*(n-1)].name}}</span>
            <span>{{expertList[3*(n-1)].title}}</span>
            <span>{{expertList[3*(n-1)].caseNum}}
            </span>
            <span
              v-if="expertList[3*(n-1)].status==1"
              class="iconfont  uptrend icon-iPHM-jiantouV"
            ></span>
            <span
              v-if="expertList[3*(n-1)].status==0"
              class="iconfont  icon-iPHM-pingV"
            ></span>
            <span
              v-if="expertList[3*(n-1)].status==-1"
              class="iconfont  downtrend icon-iPHM-jiantouV-down"
            ></span>
          </div>
          <div
            class="expert_item"
            v-if="expertList.length>(3*(n-1)+1)"
          >
            <span>{{formatIndex[3*(n-1)+1]}}</span>
            <span><img
                :src="expertList[3*(n-1)+1].img"
                width="31px"
                height="42px"
              ></span>
            <span>{{expertList[3*(n-1)+1].name}}</span>
            <span>{{expertList[3*(n-1)+1].title}}</span>
            <span>{{expertList[3*(n-1)+1].caseNum}}
            </span>
            <span
              v-if="expertList[3*(n-1)+1].status==1"
              class="iconfont  uptrend icon-iPHM-jiantouV"
            ></span>
            <span
              v-if="expertList[3*(n-1)+1].status==0"
              class="iconfont  icon-iPHM-pingV"
            ></span>
            <span
              v-if="expertList[3*(n-1)+1].status==-1"
              class="iconfont  downtrend icon-iPHM-jiantouV-down"
            ></span>
          </div>
          <div
            v-else
            class="expert_item noborder"
          ></div>
          <div
            class="expert_item"
            v-if="expertList.length>(3*(n-1)+2)"
          >
            <span>{{formatIndex[3*(n-1)+2]}}</span>
            <span><img
                :src="expertList[3*(n-1)+2].img"
                width="31px"
                height="42px"
              ></span>
            <span>{{expertList[3*(n-1)+2].name}}</span>
            <span>{{expertList[3*(n-1)+2].title}}</span>
            <span>{{expertList[3*(n-1)+2].caseNum}}
            </span>
            <span
              v-if="expertList[3*(n-1)+2].status==1"
              class="iconfont  uptrend icon-iPHM-jiantouV"
            ></span>
            <span
              v-if="expertList[3*(n-1)+2].status==0"
              class="iconfont  icon-iPHM-pingV"
            ></span>
            <span
              v-if="expertList[3*(n-1)+2].status==-1"
              class="iconfont  downtrend icon-iPHM-jiantouV-down"
            ></span>
          </div>
          <div
            v-else
            class="expert_item noborder"
          >

          </div>
        </div>
      </template>
    </slick>
  </div>
</template>
<script>
import Slick from 'vue-slick';
import '../../../node_modules/slick-carousel/slick/slick.css';

export default {
  name: 'expert',
  components: { Slick },
  data() {
    return {
      expertList: [],
      formatIndex: {
        0: '①',
        1: '②',
        2: '③',
        3: '④',
        4: '⑤',
        5: '⑥',
        6: '⑦',
        7: '⑧',
        8: '⑨',
        9: '⑩'
      },
      // foramtRoman: {
      //   1: 'Ⅰ',
      //   2: 'Ⅱ',
      //   3: 'Ⅲ',
      //   4: 'Ⅳ',
      //   5: 'Ⅴ',
      //   6: 'Ⅵ',
      //   7: 'Ⅶ',
      //   8: 'Ⅷ',
      //   9: 'Ⅸ',
      //   10: 'Ⅹ',
      //   11: 'Ⅺ',
      //   12: 'Ⅻ'
      // },
      // slick插件的配置项
      slickOptions: {
      }
    }
  },
  computed: {

  },
  watch: {

  },
  created() {
    this.slickOptions = window.DBConfig.slickExpert
    var type = this.$route.params.type
    let data = window[`${type}Data`].statExpert
    let sum = 0
    for (let i = 0; i < data.length; i++) {
      sum += data[i].caseNum
    }
    for (let i = 0; i < data.length; i++) {
      data[i].rate = (parseInt(data[i].caseNum / sum * 100)) + '%'
    }
    this.expertList = data
  },
  methods: {

  }
}
</script>
<style lang="scss" scoped>
.expert {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
}
.slick {
  height: 100%;
  padding: 0 20px;
}
.expert_item {
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #0080c0;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 10px;
  color: #6edbf8;
  font-size: 14px;
  &.noborder {
    border: none;
  }

  > span {
    display: inline-block;
    width: 60px;
    text-align: center;
    line-height: 14px;
    position: relative;

    img {
      height: 40px;
      width: 30px;
      margin: 0 auto;
    }
  }
  > span:first-child {
    font-size: 20px;
    width: 30px;
  }
  > span:last-child {
    width: 40px;
    text-align: right;
  }
  > span:nth-child(4) {
    width: 90px;
  }
}

.downtrend {
  color: #e2293a;
}
.uptrend {
  color: #5add09;
}
</style>
