<template>
  <div class="mid-stat">
    <div class="mid-stat-top">
      <div>
        <div class="stat_title">设备价值(亿)</div>
        <span class="stat_num">{{statData.equipmentValue}}</span>
      </div>
      <div>
        <div class="stat_title">服务工厂(家)</div>
        <span class="stat_num">{{statData.serviceFactory}}</span>
      </div>
      <div>
        <div class="stat_title">服务设备(台)</div>
        <span class="stat_num">{{statData.serviceEquipment}}</span>
      </div>
      <div>
        <div class="stat_title">传感器数量(只)</div>
        <span class="stat_num">{{statData.sensorAmount}}</span>
      </div>
    </div>
    <div class="mid-stat-bottom">
      <div>
        <div class="stat_title">诊断报告(份)</div>
        <span class="stat_num">{{statData.diagnosticReport}}</span>
      </div>
      <div>
        <div class="stat_title">故障案例(个)</div>
        <span class="stat_num">{{statData.faultCase}}</span>
      </div>
      <div>
        <div class="stat_title">设备模型(个)</div>
        <span class="stat_num">{{statData.deviceModel}}</span>
      </div>
      <div>
        <div class="stat_title">算法模型(个)</div>
        <span class="stat_num">{{statData.algorithmicModel}}</span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      type: 'all',
      statData: {
        equipmentValue: 0, // 设备价值
        serviceFactory: 0, // 服务工厂数量
        serviceEquipment: 0, //服务设备数量
        sensorAmount: 0, // 传感器数量
        diagnosticReport: 0, //诊断报告数量
        faultCase: 0, //故障案例数量
        deviceModel: 0, //设备模型数量
        algorithmicModel: 0 //算法模型数量
      }
    }
  },
  computed: {

  },
  watch: {

  },
  created() {
    this.type = this.$route.params.type
    this.initData()
  },
  methods: {
    initData() {
      const data = window[`${this.type}Data`].statMid
      this.statData = data
    }
  }
}
</script>
<style lang="scss" scoped>
.stat_title {
  margin: 10px 0px 5px 20px;
  flex: 0 0 20px;
  padding: 0 10px;
  border-left: 3px solid #6edbf8;
  text-align: left;
  font-size: 14px;
  color: #6edbf8;
}
.mid-stat {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mid-stat-top,
.mid-stat-bottom {
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  & > div {
    position: relative;
    z-index: 9999;
    width: 212px;
    height: 104px;
    border: 1px solid #00a2ff;
    background: linear-gradient(
      0deg,
      rgba(5, 34, 78, 0.6) 0%,
      rgba(5, 34, 78, 0.1) 100%
    );
  }
  & > div:last-child {
    background: linear-gradient(
      0deg,
      rgba(5, 34, 78, 0.3) 0%,
      rgba(5, 34, 78, 0.6) 100%
    );
  }
  .stat_num {
    position: relative;
    text-align: left;
    float: left;
    padding-left: 30px;
    font-size: 56px;
    font-family: "LcdD";
    color: #9df3fc;
    display: inline;
  }
  // .stat_num::after {
  //   content: "+";
  //   position: absolute;
  //   right: -23px;
  //   top: -10px;
  //   font-family: ":Adobe Heiti Std R";
  //   font-size: 30px;
  //   font-weight: 200;
  // }
}
</style>
