<template>
  <div
    ref="echarts"
    class="echarts"
  >
  </div>
</template>
<script>
import echarts from 'echarts'
import { mapState } from 'vuex'
let chart = null
export default {
  name: 'allStat',
  data() {
    return {
      option: null,
      type: 'all'
    }
  },
  computed: {
    ...mapState({
      refresh: ({ main }) => {
        return main.refresh
      }
    })
  },
  watch: {
    refresh(val) {
      chart.clear()
      chart.setOption(this.option)
    }
  },
  created() {
    this.type = this.$route.params.type
  },
  mounted() {
    let dom = this.$refs.echarts
    chart = echarts.init(dom)
    this.draw()
  },
  beforeDestroy() {
    chart.dispose()
    chart = null
  },
  methods: {
    draw() {
      let option = null
      let data = null
      // let color = ['#FE5050', '#FBFE27', '#1DB7E5', 'rgb(131,249,103)', '#61a0a8', '#d48265', '#91c7ae', '#749f83'];
      let color = ['#D4C34F', '#D9D1A8', '#7CBB55', '#399FFF', '#637BF9', '#7ADAF6', '#2CFD98']
      data = window[`${this.type}Data`].statFive
      let baseData = [];
      let sum = 0
      for (var i = 0; i < data.length; i++) {
        sum += data[i].value
        baseData.push({
          value: data[i].value,
          name: data[i].name,
          itemStyle: {
            normal: {
              borderWidth: 10,
              barBorderRadius: 20,
              borderColor: color[i],
              shadowColor: 'rgba(0, 0, 0, 0.8)'
            }
          }
        });
      }
      option = {
        color: color,
        title: {
          text: sum,
          left: 'center',
          top: '40%',
          textStyle: {
            color: '#6EDBF8',
            fontFamily: 'LcdD',
            fontSize: 36,
            fontWeight: 400
          }
        },
        tooltip: {
          show: false,
          trigger: 'item',
          formatter: '{b} <br/>数量:{c}'
        },
        grid: {
          top: 35,
          left: 20,
          right: 20,
          bottom: 20,
          containLabel: true
        },
        series: [{
          name: sum,
          type: 'pie',
          selectedMode: false,
          center: ['50%', '48%'],
          radius: ['55%', '60%'],
          hoverAnimation: false,
          minAngle: 10,
          label: {
            normal: {
              formatter: ['{b|{b}}', '{c|{d}%}'].join('\n'),
              rich: {
                c: {
                  fontSize: 14,
                  align: 'left'
                },
                b: {
                  fontSize: 14,
                  lineHeight: 20
                }
              }
            }
          },
          // labelLine: {
          //   normal: {
          //     lineStyle: {
          //       color: '#399FFF'
          //     },
          //     length: 15,
          //     length2: 25,
          //     smooth: 0
          //   }
          // },
          itemStyle: {
            normal: {
              shadowColor: 'rgba(0, 0, 0, 0.8)'
            }
          },
          data: baseData
        }, {
          name: '',
          type: 'pie',
          center: ['50%', '48%'],
          radius: ['70%', '71%'],
          hoverAnimation: false,

          data: [{
            value: 1,
            itemStyle: {
              normal: {
                color: '#399FFF'
              }
            }

          }],
          label: {
            normal: {
              show: false
            }
          }
        }]
      }
      this.option = option
      chart.setOption(option)
    }
  }
}
</script>
<style lang="scss" scoped>
.echarts {
  width: 100%;
  height: 100%;
}
</style>
