<template>
  <div
    ref="echarts"
    class="echarts"
  >
  </div>
</template>
<script>
import echarts from 'echarts'
import { mapState } from 'vuex'
let chart = null

export default {
  name: 'allStat',
  data() {
    return {
      option: null,
      type: 'all'
    }
  },
  computed: {
    ...mapState({
      refresh: ({ main }) => {
        return main.refresh
      }
    })
  },
  watch: {
    refresh(val) {
      if (chart) {
        chart.clear()
        chart.setOption(this.option)
      }
    }
  },
  created() {
    this.type = this.$route.params.type
  },
  mounted() {
    let dom = this.$refs.echarts
    chart = echarts.init(dom)
    this.draw()
  },
  beforeDestroy() {
    chart.dispose()
    chart = null
  },
  methods: {
    draw() {
      let option = null
      switch (this.type) {
        case 'steel':
        case 'cement':
        case 'petroleum':
          const data = window[`${this.type}Data`].statThree
          const lableList = []

          const dateList = []
          // 根据当前月份，来确定当前季度。以及X轴的数据。
          for (var i = 4; i >= 0; i--) {
            dateList.push(this.$moment().subtract(i * 3, 'months').format('YYYY-M'))
          }

          dateList.forEach(el => {
            let date = el.split('-')
            let str = ''
            let M = Number(date[1])
            if (M < 4 && M >= 1) {
              str = date[0] + ' Q1'
            }
            if (M < 7 && M >= 4) {
              str = date[0] + ' Q2'
            }
            if (M < 10 && M >= 7) {
              str = date[0] + ' Q3'
            }
            if (M >= 10 && M <= 12) {
              str = date[0] + ' Q4'
            }
            lableList.push(str)
          });

          option = {
            color: ['#11FF70', '#00A2FF'],
            tooltip: {
              trigger: 'axis',
              axisPointer: {
                type: 'shadow'
              },
              formatter: `{b}<br/>{a1}:{c1}台<br/>{a0}:{c0}万<br/>`
            },
            legend: {
              itemWidth: 16, //图例的宽度
              itemHeight: 12, //图例的高度
              itemGap: 20,
              position: 'center',
              top: 'top',
              textStyle: {
                color: '#6EDBF8'
              },
              selectedMode: false, //取消图例上的点击事件
              data: [{
                name: data.amountStat.name,
                icon: 'rect'
              }, {
                name: data.priceStat.name
              }]
            },
            grid: {
              top: 40,
              left: 20,
              right: 20,
              bottom: 20,
              containLabel: true
            },
            toolbox: {
              show: true,
              orient: 'vertical',
              left: 'right',
              top: 'center'
            },
            calculable: true,
            xAxis: [{
              splitLine: {
                show: false
              }, //去除网格线
              splitArea: {
                show: false
              }, //保留网格区域
              axisLine: {
                show: false,
                lineStyle: { //轴上的线样式
                  color: '#979797',
                  width: 0.6 //这里是为了突出显示加上的
                }
              },
              axisTick: {
                show: false
              },
              axisLabel: { //轴上的数据样式
                color: '#64B4FF',
                interval: 0,
                margin: 5,
                fontSize: 10,
                width: '100%'
              },
              data: lableList
            }],
            yAxis: [{
              name: '台',
              nameTextStyle: {
                color: '#64B4FF',
                padding: [0, 25, 0, 0]
              },
              splitLine: {
                show: true,
                lineStyle: {
                  color: '#183661'
                }
              },
              splitNumber: 4,
              splitArea: {
                show: false
              }, //保留网格区域
              axisLine: {
                show: false,
                lineStyle: { //轴上的线样式

                  width: 0.6 //这里是为了突出显示加上的
                }
              },
              axisTick: {
                show: false
              },
              axisLabel: { //轴上的数据样式
                color: '#64B4FF'
              }
            }, {
              name: '万',
              nameTextStyle: {
                color: '#64B4FF',
                padding: [0, 0, 0, 35]
              },
              axisLine: {
                show: false
              },
              splitLine: {
                show: false
              },
              axisLabel: { //轴上的数据样式
                color: '#64B4FF'
              }
            }],
            series: [
              {
                name: data.priceStat.name,
                yAxisIndex: 1,
                type: 'line',
                symbolSize: 8,
                itemStyle: {
                  normal: {
                    lineStyle: {
                      color: '#52F0F3',
                      width: 2 //折线宽度
                    }
                  }
                },
                data: data.priceStat.data
              },
              {
                name: data.amountStat.name,
                type: 'bar',
                barWidth: 12, // 柱形的宽度
                barGap: 0,
                data: data.amountStat.data,
                itemStyle: {
                  //每个柱子的颜色即为colorList数组里的每一项，如果柱子数目多于colorList的长度，则柱子颜色循环使用该数组
                  //设置渐变色
                  color: function (params) {
                    var colorList = [
                      ['#00BCFC', '#006CFF']
                    ];
                    return new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                      {
                        offset: 0,
                        color: colorList[0][0]
                      },
                      {
                        offset: 1,
                        color: colorList[0][1]
                      }]);
                  },
                  barBorderRadius: 0 //柱状角圆角半径
                }
              }
            ]
          }
          break
        case 'all':

          break
      }
      this.option = option
      chart.setOption(option)
    }
  }
}
</script>
<style lang="scss" scoped>
.echarts {
  flex: 1;
}
</style>
