<template>
  <div
    ref="echarts"
    class="echarts"
  >
  </div>
</template>
<script>
import echarts from 'echarts'
import { mapState } from 'vuex'
let chart = null

export default {
  name: 'allStat',
  data() {
    return {
      option: null,
      type: 'all'
    }
  },
  computed: {
    ...mapState({
      refresh: ({ main }) => {
        return main.refresh
      }
    })
  },
  watch: {
    refresh(val) {
      chart.clear()
      chart.setOption(this.option)
    }
  },
  created() {
    this.type = this.$route.params.type
  },
  mounted() {
    let dom = this.$refs.echarts
    chart = echarts.init(dom)
    this.draw()
  },
  beforeDestroy() {
    chart.dispose()
    chart = null
  },
  methods: {
    draw() {
      let data = null
      let option = null
      // 根据行业来确定渲染哪个图谱。
      switch (this.type) {
        case 'steel':
        case 'cement':
        case 'petroleum':
          data = window[`${this.type}Data`].statOne
          option = {
            color: ['#CDE980', '#637BF9', '#7CBB55', '#D4C34F', '#7788DA',
              '#7ADAF6', '#e7bcf3', '#8378ea'],
            grid: {
              top: 35,
              left: 20,
              right: 20,
              bottom: 20,
              containLabel: true
            },
            tooltip: {
              show: false,
              trigger: 'item',
              formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            calculable: true,
            series: [
              {
                name: '检测分布',
                type: 'pie',
                radius: ['0%', '70%'],
                // clockwise: false,
                data: data,
                label: {
                  normal: {
                    formatter: [`{a|{b}}`,
                      `{b|（设备数{c}）}`].join('\n'),
                    fontSize: 14,
                    rich: {
                      a: {
                        align: 'left'
                      },
                      b: {
                        align: 'left'
                      }
                    }
                  }
                }
              }
            ]
          }
          break
        case 'all':
          var now = new Date()
          let MM = Number(this.$moment().format('M'))
          const YY = now.getFullYear()
          var typeList = []
          // 根据当前月份，来显示当前X轴的数据。
          if (MM < 7) {
            typeList = [(YY - 2) + 'H2', (YY - 1) + 'H1', (YY - 1) + 'H2', YY + 'H1']
          } else {
            typeList = [(YY - 1) + 'H1', (YY - 1) + 'H2', YY + 'H1', YY + 'H2']
          }
          data = window[`${this.type}Data`].statOne
          const series = []
          const legendList = []
          data.forEach((el, index) => {
            series.push({
              name: el.name,
              type: 'bar',
              barWidth: 12, // 柱形的宽度
              barGap: 0,
              data: el.data,
              itemStyle: {
                //每个柱子的颜色即为colorList数组里的每一项，如果柱子数目多于colorList的长度，则柱子颜色循环使用该数组
                //设置渐变色
                color: function (params) {
                  var colorList = [
                    ['#00BCFC', '#006CFF'], ['#EDA56A', '#F78E38'], ['#68B9F8', '#3FD5C5'], [
                      '#6D7DF7', '#6D68F6'
                    ]
                  ];
                  return new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    {
                      offset: 0,
                      color: colorList[params.seriesIndex][0]
                    },
                    {
                      offset: 1,
                      color: colorList[params.seriesIndex][1]
                    }]);
                }
              }
            })
            legendList.push(el.name)
          });
          option = {
            color: ['#006CFF', '#F78E38', '#3FD5C5', '#6D68F6', '#8fa6ec', '#157efb'],
            tooltip: {
              trigger: 'axis',
              axisPointer: {
                type: 'shadow'
              }
            },
            legend: {
              itemWidth: 12, // 图例的宽度
              itemHeight: 12, // 图例的高度
              itemGap: 10,
              right: 20,
              top: 'top',
              icon: 'rect',
              selectedMode: false, // 取消图例上的点击事件
              data: legendList,
              textStyle: {
                color: '#6EDBF8',
                height: 12
              }
            },
            grid: {
              top: 40,
              left: 20,
              right: 20,
              bottom: '20',
              containLabel: true
            },
            toolbox: {
              show: true,
              orient: 'vertical',
              left: 'right',
              top: 'center'
            },
            calculable: true,
            xAxis: [{
              splitLine: {
                show: false
              }, // 去除网格线
              splitArea: {
                show: false
              },
              // 保留网格区域
              axisLine: {
                show: false,
                lineStyle: { //轴上的线样式
                  color: '#979797',
                  width: 0.6 // 这里是为了突出显示加上的
                }
              },
              axisTick: {
                show: false
              },
              axisLabel: { // 轴上的数据样式
                color: '#64B4FF'
              },
              data: typeList
            }],
            yAxis: [{
              name: '台',
              nameTextStyle: {
                color: '#64B4FF',
                padding: [0, 25, 0, 0]
              },
              splitLine: {
                show: true,
                lineStyle: {
                  color: '#183661'
                }
              },
              splitArea: {
                show: false
              }, //保留网格区域
              axisLine: {
                show: false,
                lineStyle: { // 轴上的线样式
                  color: '#979797',
                  width: 0.6 // 这里是为了突出显示加上的
                }
              },
              axisTick: {
                show: false
              },
              axisLabel: {
                // 轴上的数据样式
                color: '#64B4FF'
              }
            }],
            series: series

          }
          break
      }
      this.option = option
      chart.setOption(option)
      // setInterval(() => {
      //   chart.clear()
      //   chart.setOption(option)
      // }, 5000)
    }
  }
}
</script>
<style lang="scss" scoped>
.echarts {
  width: 100%;
  height: 100%;
}
</style>
