<template>
  <footer class="stat_footer">
    <div class="item_stat">
      <div class="stat_title">设备运行率
        <span style="font-size:12px">（最近30天）</span></div>
      <div class="border_lt border_icon"></div>
      <div class="border_lb border_icon"></div>
      <div class="border_rt border_icon"></div>
      <div class="border_rb border_icon"></div>
      <div
        class="stat_running"
        ref="echarts"
      >

      </div>
    </div>
    <div class="alarm_desc">
      <slick
        class="slick"
        ref="slick"
        :options="slickOptions"
      >
        <template v-for="(item,index) in alarmList">
          <span
            :key="index"
            class="slick_item"
          >
            {{item.desc}}&nbsp;&nbsp;
            告警等级:{{item.level}}&nbsp;&nbsp;
            告警时间:{{item.time}}&nbsp;&nbsp;
            {{item.result?'诊断结论:'+item.result:''}}
          </span>

        </template>
      </slick>
    </div>
  </footer>
</template>
<script>
import Slick from 'vue-slick';
import '../../../node_modules/slick-carousel/slick/slick.css';
import echarts from 'echarts'
import { setInterval, clearInterval } from 'timers';
let chart = null
let footerTimer = null
export default {
  components: { Slick },
  data() {
    return {
      type: 'all',
      slickOptions: {

      },
      alarmList: [],
      tooltipShow: false
    }
  },
  computed: {

  },
  watch: {

  },
  created() {
    if (this.$route.query.type == 1) {
      this.tooltipShow = true
    }
    this.type = this.$route.params.type
    this.slickOptions = window.DBConfig.slickFooter
    const _ = this
    _.initData()
  },
  mounted() {
    let dom = this.$refs.echarts
    chart = echarts.init(dom)
    this.draw()
  },
  beforeDestroy() {
    if (footerTimer) {
      clearInterval(footerTimer)
      footerTimer = null
    }

    chart.dispose()
    chart = null
  },
  methods: {
    initData() {
      // 获取告警数据，并且更新告警数据的日期为当天，时间为0：00至当前时间的随机时间点
      let timeList = []
      this.alarmList = []
      let now = new Date()
      let curTime = now.getTime()
      let curDay = this.$moment().format('YYYY-MM-DD')
      let startTime = Number(this.$moment(curDay).format('x'))
      for (let i = 0; i < 5; i++) {
        var time = Math.random() * (curTime - startTime) + startTime
        timeList.push(this.$moment(time).format('YYYY-MM-DD HH:mm:ss'))
      }
      const data = window[`${this.type}Data`].statAlarm
      data.forEach((el, index) => {
        el.time = timeList[index]
      });
      this.alarmList = data
    },
    draw() {
      let min = 50
      let max = 100
      // 随机29条数据，最后1个数据为各行业的设备运行率。
      const runningData = window[`${this.type}Data`].statRunning
      switch (this.type) {
        case 'all':
          min = 50
          max = 90
          break;
        case 'steel':
          min = 70
          max = 100
          break;
        case 'cement':
          min = 50
          max = 80
          break;
        case 'petroleum':
          min = 50
          max = 80
          break;
      }
      const dateList = []
      const dayList = []
      for (let i = 29; i >= 0; i--) {
        dateList.push(this.$moment().subtract(i, 'days').format('MM-DD'))
        dayList.push(parseInt(this.$moment().subtract(i, 'days').format('D')))
      }
      let temp = []
      for (var i = 0; i < dayList.length; i++) {
        temp.push(runningData[dayList[i] - 1])
      }
      let sum = 0
      temp.forEach(item => {
        sum += item
      })
      let mean = (sum / 30).toFixed(1) // 设备运行率的平均值
      let option = {
        grid: {
          top: 20,
          left: 20,
          right: 20,
          bottom: 10,
          containLabel: true
        },
        tooltip: {
          // show: false,
          trigger: 'axis',
          formatter: '日期：{b}<br/>运行率：{c}%'
        },
        xAxis: {
          axisLine: {
            show: false
          },
          axisLabel: {
            color: '#6EDBF8'
          },
          axisTick: {
            show: false
          },
          data: dateList
        },
        yAxis: {
          name: '%',
          nameGap: 5,
          nameTextStyle: {
            color: '#6EDBF8'
          },
          // splitNumber: 3,
          min: min,
          max: max,
          interval: 10,
          axisLine: {
            show: false
          },
          axisLabel: {
            color: '#6EDBF8'
          },
          axisTick: {
            show: false
          },
          splitLine: {
            lineStyle: {
              color: '#183661'
            }
          }
        },
        series: [{
          type: 'line',
          // symbol: 'circle',
          symbolSize: 8,
          smooth: true,
          itemStyle: {
            normal: {
              color: 'rgba(1,132,212,0.4)',
              borderColor: '#00A2FF',
              borderWidth: 2
            }
          },
          lineStyle: {
            normal: {
              color: '#00A2FF',
              width: 2
            }
          },
          markLine: {
            symbol: 'none',
            label: {
              normal: {
                show: false
              }
            },
            lineStyle: {
              normal: {
                type: 'dashed',
                color: '#60D863',
                width: 2
              }
            },
            data: [{
              yAxis: mean
            }]
          },
          data: temp
        }]
      };
      chart.setOption(option)
      let show = true
      chart.on('mouseover', function (param) {
        show = false
      })
      chart.on('mouseout', function (param) {
        show = true
      })
      if (this.tooltipShow) {
        let index = 0
        if (footerTimer) {
          clearInterval(footerTimer)
          footerTimer = null
        }
        footerTimer = setInterval(() => {
          if (show && chart) {
            chart.dispatchAction({
              type: 'showTip',
              seriesIndex: 0,
              dataIndex: index
            })
          }
          if (index < temp.length - 1) {
            index++
          } else {
            index = 0
          }
        }, 5000);
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.slick_item {
  padding-top: 3px;
  color: #fe4242;
  display: block;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  overflow: hidden;
}
.item_stat {
  display: flex;
  flex-direction: column;
}
.stat_title {
  margin: 12px 20px 10px 30px;
  flex: 0 0 20px;
  padding: 0 10px;
  border-left: 3px solid #6edbf8;
  font-size: 16px;
  text-align: left;
  color: #6edbf8;
}
.stat_running {
  flex: 1;
}
</style>
