<template>
  <div class="statFour">
    <div
      class="statFour_left"
      ref="echartLeft"
    >
    </div>
    <div
      class="statFour_right"
      ref="echartRight"
    >
    </div>
  </div>
</template>
<script>
import echarts from 'echarts'
import '../../../static/font/ledfont/font.css'
import { mapState } from 'vuex'
let echartLeft = null
let echartRight = null
export default {
  name: 'allStat',
  data() {
    return {
      leftOption: null,
      rightOption: null,
      type: 'all'
    }
  },
  computed: {
    ...mapState({
      refresh: ({ main }) => {
        return main.refresh
      }
    })
  },
  watch: {
    refresh(val) {
      echartLeft.clear()
      echartRight.clear()
      echartLeft.setOption(this.leftOption)
      echartRight.setOption(this.rightOption)
    }
  },
  created() {
    this.type = this.$route.params.type
  },
  mounted() {
    let dom = this.$refs.echartLeft
    echartLeft = echarts.init(dom)
    echartRight = echarts.init(this.$refs.echartRight)
    this.draw()
  },
  beforeDestroy() {
    echartLeft.dispose()
    echartLeft = null
    echartRight.dispose()
    echartRight = null
  },
  methods: {
    draw() {
      const data = window[`${this.type}Data`].statFour
      let optionLeft = null
      let optionRight = null

      let valueRate = 0
      var myColor = ['#D9C546', '#FF9F4A', '#F1683A', '#F15270', '#D03048'];
      var rightData = data.alarmLevels

      let rightSum = 0
      rightData.forEach(item => {
        rightSum += item.value
      })
      let rightCopyData = []
      for (var i = 0; i < rightData.length; i++) {
        if (i == rightData.length - 1) {
          rightCopyData.push((100 - valueRate) + '%')
        } else {
          valueRate += Math.round((rightData[i].value / rightSum) * 100)
          rightCopyData.push(Math.round((rightData[i].value / rightSum) * 100) + '%')
        }
      }
      optionRight = {
        title: {
          // text: '告警发布',
          left: 'center',
          top: 'bottom',
          textStyle: {
            color: '#6EDBF8',
            // fontFamily: 'LcdD',
            fontSize: 12,
            fontWeight: 400,
            lineHeight: 50
          }
        },
        tooltip: {
          show: false
        },
        grid: {
          top: 0,
          left: 20,
          right: 40,
          bottom: 20,
          containLabel: true
        },
        xAxis: [{
          show: false
        }],
        yAxis: [{
          axisTick: 'none',
          axisLine: 'none',
          offset: 0,
          axisLabel: {
            textStyle: {
              color: '#6EDBF8',
              fontSize: '12'
            }
          },
          data: ['1级', '2级', '3级', '4级', '5级']
        }],
        series: [{
          name: '告警分布',
          type: 'bar',
          yAxisIndex: 0,
          data: rightData,
          label: {
            normal: {
              show: true,
              position: 'right',
              formatter: function (params) {
                return rightCopyData[params.dataIndex]
              },
              textStyle: {
                color: '#6EDBF8',
                fontSize: '12'
              }
            }
          },
          barWidth: 12,
          itemStyle: {
            normal: {
              color: function (params) {
                var num = myColor.length;
                return myColor[params.dataIndex % num]
              }
            }
          },
          z: 2
        }
        ]
      }
      echartRight.setOption(optionRight)

      var runningList = window[`${this.type}Data`].statRunning
      let day = parseInt(this.$moment().format('D'))
      let color = ['#313643', '#399FFF', '#1DB7E5', 'rgb(131,249,103)', '#61a0a8', '#d48265', '#91c7ae', '#749f83'];
      let baseData = [];
      let runningRate = runningList[day - 1]
      let stopRate = 100 - runningRate

      baseData = [{
        value: stopRate,
        name: '停机率',
        itemStyle: {
          normal: {
            color: {
              type: 'radial'
            },
            borderWidth: 10,
            barBorderRadius: 20,
            borderColor: '#313643',
            shadowColor: 'rgba(0, 0, 0, 0.8)'
          }
        },
        label: {
          normal: {
            show: false
          }
        },
        labelLine: {
          show: false
        }
      }, {
        value: runningRate,
        name: '运行率',
        itemStyle: {
          normal: {
            borderWidth: 10,
            barBorderRadius: 10,
            borderColor: '#399FFF',
            shadowColor: 'rgba(0, 0, 0, 0.8)'
          }
        },
        label: {
          normal: {
            show: false,
            color: '#6EDBF8',
            formatter: function (params) {
              return (params.data.value).toFixed(2) + '%'
            },
            textStyle: {
              fontFamily: 'LcdD'
            },
            fontFamily: 'LcdD',
            fontSize: 32,
            position: 'center'
          }
        }
      }]
      optionLeft = {
        color: color,
        title: {
          text: runningRate + '%',
          left: 'center',
          top: '30%',
          textStyle: {
            fontFamily: 'LcdD',
            color: '#6EDBF8',
            fontSize: 36,
            fontWeight: 400
          }
        },
        // tooltip: {
        //   trigger: 'item',
        //   formatter: '{b} <br/>占比：{d}%'
        // },
        grid: {
          top: 35,
          left: 20,
          right: 20,
          bottom: 20,
          containLabel: true
        },
        series: [{
          name: '设备运行率',
          silent: true,
          type: 'pie',
          selectedMode: 'single',
          center: ['50%', '40%'],
          radius: ['60%', '65%'],
          hoverAnimation: false,
          clockwise: false,
          minAngle: 10,
          label: {
            normal: {
              show: false
            }
          },
          labelLine: {
            normal: {
              lineStyle: {
                color: '#399FFF'
              },
              length: 10,
              length2: 25,
              smooth: 0.3
            }
          },
          itemStyle: {
            normal: {
              shadowColor: 'rgba(0, 0, 0, 0.8)'
            }
          },
          data: baseData
        }]
      }
      this.leftOption = optionLeft
      this.rightOption = optionRight
      echartLeft.setOption(optionLeft)
    }
  }
}
</script>
<style lang="scss" scoped>
.statFour {
  width: 100%;
  height: 100%;

  display: flex;
  > div {
    position: relative;
    flex: 1;
  }
  .statFour_left::after {
    content: "运行率";
    color: #6edbf8;
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    font-size: 12px;
  }
  .statFour_right::after {
    content: "告警分布";
    color: #6edbf8;
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    font-size: 12px;
  }
}
</style>
