<template>
  <div
    ref="echarts"
    class="echarts"
  >
  </div>
</template>
<script>
import echarts from 'echarts'
import { mapState } from 'vuex'
let chart = null
export default {
  name: 'allStat',
  data() {
    return {
      option: null,
      type: 'all'
    }
  },
  computed: {
    ...mapState({
      refresh: ({ main }) => {
        return main.refresh
      }
    })
  },
  watch: {
    refresh(val) {
      chart.clear()
      chart.setOption(this.option)
    }
  },
  created() {
    this.type = this.$route.params.type
  },
  mounted() {
    let dom = this.$refs.echarts
    chart = echarts.init(dom)
    this.draw()
  },
  beforeDestroy() {
    chart.dispose()
    chart = null
  },
  methods: {
    draw() {
      let option = null
      let data = null
      // 根据行业来确定渲染哪个图谱
      switch (this.type) {
        case 'steel':
        case 'cement':
        case 'petroleum':
          data = window[`${this.type}Data`].statTwo
          option = {
            color: ['#11FF70', '#00A2FF'],
            tooltip: {
              trigger: 'axis',
              axisPointer: {
                type: 'shadow'
              }
            },
            legend: {
              itemWidth: 12, //图例的宽度
              itemHeight: 12, //图例的高度
              itemGap: 20,
              right: 25,
              top: 'top',
              icon: 'rect',
              textStyle: {
                color: '#6EDBF8'
              },
              selectedMode: false, //取消图例上的点击事件
              data: ['上季度', '本季度']
            },
            grid: {
              top: 40,
              left: 20,
              right: 20,
              bottom: 20,
              containLabel: true
            },
            toolbox: {
              show: true,
              orient: 'vertical',
              left: 'right',
              top: 'center'
            },
            calculable: true,
            xAxis: [{
              splitLine: {
                show: false
              }, //去除网格线
              splitArea: {
                show: false
              }, //保留网格区域
              axisLine: {
                show: false,
                lineStyle: { //轴上的线样式
                  color: '#979797',
                  width: 0.6 //这里是为了突出显示加上的
                }
              },
              axisTick: {
                show: false
              },
              axisLabel: { //轴上的数据样式
                color: '#64B4FF',
                interval: 0,
                margin: 5,
                fontSize: 10,
                width: '100%'
              },
              data: data.typeData
            }],
            yAxis: [{
              name: '台',
              nameTextStyle: {
                color: '#64B4FF',
                padding: [0, 25, 0, 0]
              },
              splitLine: {
                show: true,
                lineStyle: {
                  color: '#183661'
                }
              },
              splitNumber: 4,
              splitArea: {
                show: false
              }, //保留网格区域
              axisLine: {
                show: false,
                lineStyle: { //轴上的线样式

                  width: 0.6 //这里是为了突出显示加上的
                }
              },
              axisTick: {
                show: false
              },
              axisLabel: { //轴上的数据样式
                color: '#64B4FF'
              }
            }],
            series: [
              {
                name: data.lastData.name,
                type: 'bar',
                barWidth: 12, // 柱形的宽度
                barGap: 0,
                data: data.lastData.data
              },
              {
                name: data.curData.name,
                type: 'bar',
                barWidth: 12, // 柱形的宽度
                barGap: 0,
                data: data.curData.data
              }
            ]
          }
          // 根据数据项的个数和每页个数pageSize来判断是否需要分页展示
          let pageSize = 5
          if (data.typeData.length > pageSize) {
            var count = Math.ceil(data.typeData.length / pageSize)
            option = {
              baseOption: {
                timeline: {
                  show: false,
                  axisType: 'category',
                  autoPlay: true,
                  playInterval: 3000,
                  data: new Array(count)

                },
                color: ['#11FF70', '#00A2FF'],
                tooltip: {
                  trigger: 'axis',
                  axisPointer: {
                    type: 'shadow'
                  }
                },
                legend: {
                  itemWidth: 12, //图例的宽度
                  itemHeight: 12, //图例的高度
                  itemGap: 20,
                  right: 25,
                  top: 'top',
                  icon: 'rect',
                  textStyle: {
                    color: '#00A2FF'
                  },
                  selectedMode: false, //取消图例上的点击事件
                  data: ['上季度', '本季度']
                },
                grid: {
                  top: 40,
                  left: 20,
                  right: 20,
                  bottom: 20,
                  containLabel: true
                },
                toolbox: {
                  show: true,
                  orient: 'vertical',
                  left: 'right',
                  top: 'center'
                },
                calculable: true
              },
              options: []
            }

            for (var n = 0; n < count; n++) {
              option.options.push({
                xAxis: [{
                  splitLine: {
                    show: false
                  }, //去除网格线
                  splitArea: {
                    show: false
                  }, //保留网格区域
                  axisLine: {
                    show: false,
                    lineStyle: { //轴上的线样式
                      color: '#979797',
                      width: 0.6 //这里是为了突出显示加上的
                    }
                  },
                  axisTick: {
                    show: false
                  },
                  axisLabel: { //轴上的数据样式
                    color: '#64B4FF',
                    interval: 0,
                    margin: 5,
                    fontSize: 10,
                    width: '100%'
                  },
                  data: data.typeData.slice(n * pageSize, (n + 1) * pageSize)
                }],
                yAxis: [{
                  name: '台',
                  nameTextStyle: {
                    color: '#64B4FF',
                    padding: [0, 25, 0, 0]
                  },
                  splitLine: {
                    show: true,
                    lineStyle: {
                      color: '#183661'
                    }
                  },
                  splitNumber: 4,
                  splitArea: {
                    show: false
                  }, //保留网格区域
                  axisLine: {
                    show: false,
                    lineStyle: { //轴上的线样式

                      width: 0.6 //这里是为了突出显示加上的
                    }
                  },
                  axisTick: {
                    show: false
                  },
                  axisLabel: { //轴上的数据样式
                    color: '#64B4FF'
                  }
                }],
                series: [
                  {
                    name: data.lastData.name,
                    type: 'bar',
                    barWidth: 12, // 柱形的宽度
                    barGap: 0,
                    data: data.lastData.data.slice(pageSize * n, (n + 1) * pageSize)
                  },
                  {
                    name: data.curData.name,
                    type: 'bar',
                    barWidth: 12, // 柱形的宽度
                    barGap: 0,
                    data: data.curData.data.slice(pageSize * n, (n + 1) * pageSize)
                  }
                ]
              })
            }
          }
          break
        case 'all':
          data = window[`${this.type}Data`].statTwo
          option = {
            // color: ['#37a2da', '#32c5e9', '#9fe6b8', '#ffdb5c', '#ff9f7f', '#fb7293', '#e7bcf3', '#8378ea'],
            color: ['#637BF9', '#7ADAF6', '#D4C34F', '#2CFD98'],
            grid: {
              top: 30,
              left: 20,
              right: 20,
              bottom: 20,
              containLabel: true
            },
            tooltip: {
              show: false,
              trigger: 'item',
              formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            calculable: true,
            series: [
              {
                name: '行业覆盖',
                type: 'pie',
                radius: ['0%', '90%'],
                roseType: 'area',
                data: data,
                label: {
                  normal: {
                    formatter: [`{a|{b}}`,
                      `{b|（设备数{c}）}`].join('\n'),
                    fontSize: 14,
                    rich: {
                      a: {
                        align: 'left'
                      },
                      b: {
                        align: 'left'
                      }
                    }
                  }
                }
              }
            ]
          }
      }
      this.option = option
      chart.setOption(option)
    }
  }
}
</script>
<style lang="scss" scoped>
.echarts {
  flex: 1;
}
</style>
