<template>
  <div id="home">
    <div class="home_header">工业互联网数据分析平台</div>
    <a
      class="home_all"
      :href="tooltipShow?'#/main/all?type=1':'#/main/all'"
    >查看全部行业</a>
    <div class="industry">
      <div class="steel item"><a :href="tooltipShow?'#/main/steel?type=1':'#/main/steel'">
          <span>钢铁行业</span>

          <img
            src="../../static/images/homeSteel.png"
            alt="刚铁行业"
          >
          <div class="go_link">点击进入</div>
        </a>

      </div>
      <div class="cement item"><a :href="tooltipShow?'#/main/cement?type=1':'#/main/cement'"><span>水泥行业</span>
          <img
            src="../../static/images/homeCement.png"
            alt="水泥行业"
          >
          <div class="go_link">点击进入</div>
        </a>

      </div>
      <div class="petroleum item"><a :href="tooltipShow?'#/main/petroleum?type=1':'#/main/petroleum'"> <span>石化行业</span> <img
            src="../../static/images/homePetroleum.png"
            alt="石化行业"
          >
          <div class="go_link">点击进入</div>
        </a>
      </div>
    </div>
    <footer>版权所有 © 2014-2019 西安因联信息科技有限公司 陕ICP备17005699号-1 ©2014-2019 </footer>
  </div>
</template>
<script>
export default {
  data() {
    return {
      tooltipShow: false
    }
  },
  computed: {

  },
  watch: {

  },
  created() {
    if (this.$route.query.type == 1) {
      this.tooltipShow = true
    }
  },
  methods: {

  }
}
</script>
<style lang="scss" scoped>
#home {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  position: relative;
}
.home_header {
  width: 754px;
  height: 79px;
  margin: 150px auto 0 auto;
  background-image: url("../../static/images/homeTitle.png");
  text-align: center;
  line-height: 68px;
  font-size: 36px;
  letter-spacing: 8px;
  font-family: "MicrosoftYaHei-Bold";
  font-weight: bold;
  color: rgba(110, 219, 248, 1);
}
.home_all {
  display: block;
  width: 291px;
  height: 49px;
  margin: 59px auto 0 auto;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 8px;
  font-family: "MicrosoftYaHei-Bold";
  font-weight: bold;
  color: #6edbf8;
  cursor: pointer;
  background: linear-gradient(
    0deg,
    rgba(5, 34, 78, 1) 0%,
    rgba(5, 34, 78, 0) 100%
  );
  background-image: url("../../static/images/homeAll.png");
}
.industry {
  margin: 60px auto 0 auto;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 250px;
  .item {
    height: 322px;
    width: 450px;
    background-image: url("../../static/images/homeItmeBg.png");
    padding-top: 49px;
    a {
      display: block;
      font-size: 30px;
      font-weight: bold;
      font-family: "MicrosoftYaHei-Bold";
      color: #6edbf8;
      text-decoration: none;
      text-align: center;
      span {
        display: block;
        margin-bottom: 20px;
        letter-spacing: 12px;
      }
      .go_link {
        margin: 20px auto;
        width: 236px;
        height: 40px;
        background-image: url("../../static/images/homeAll.png");
        background-size: 100% 100%;
        font-size: 24px;
        line-height: 38px;
      }
    }
  }
}
footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  margin: 0 auto;
  text-align: center;
  color: #6edbf8;
  font-size: 16px;
}
</style>
