<template>
  <div id="main">
    <header>
      <div id="logo"></div>
      <div
        id="title"
        :title="typeTitle"
      >工业互联网数据分析平台</div>
      <div id="dateTime">
        <div class="boxMask"></div>
        <div id="time">{{time}}</div>
        <div id="date">{{date}}</div>
        <iframe
          id="weather"
          width="150"
          scrolling="no"
          height="25"
          frameborder="0"
          allowtransparency="true"
          src="//i.tianqi.com/index.php?c=code&id=1&color=%236edbf8&icon=1&wind=0&num=1&site=14"
        ></iframe>
      </div>

      <router-link
        id="backHome"
        :to="{ path: '/'}"
        replace
        title="返回首页"
      ></router-link>

    </header>
    <main class="main">
      <div class="left">
        <div class="item_stat">
          <div class="stat_title">{{type=='all'?'设备数量统计':'监测分布'}}</div>
          <statOne></statOne>
        </div>
        <div class="item_stat">
          <div class="stat_title">{{type=='all'?'行业覆盖情况':'关键设备覆盖情况'}}</div>
          <statTwo></statTwo>
        </div>
        <div class="item_stat">
          <div class="stat_title">{{type=='all'?'关键设备覆盖情况':'设备累计总数/价值'}}</div>
          <statThree v-if="type!=='all'"></statThree>
          <allCoverStat v-else></allCoverStat>
        </div>
      </div>
      <div class="mid">
        <midStat></midStat>
        <deviceMap></deviceMap>
      </div>
      <div class="right">
        <div class="item_stat">
          <div class="stat_title">设备实时运行状态分布</div>
          <statFour></statFour>
        </div>
        <div class="item_stat">
          <div class="stat_title">实时智能诊断分布</div>
          <statFive></statFive>
        </div>
        <div class="item_stat">
          <div class="stat_title">诊断服务专家（{{yearDay}}）</div>
          <expert></expert>
        </div>
      </div>
    </main>

    <statFooter></statFooter>

  </div>
</template>
<script>
import '../../static/font/ledfont/font.css'
import statOne from './common/statOne.vue'
import statTwo from './common/statTwo.vue'
import statThree from './common/statThree.vue'
import statFour from './common/statFour.vue'
import statFive from './common/statFive.vue'
import midStat from './common/midStat.vue'
import deviceMap from './common/deviceMap.vue'
import statFooter from './common/statFooter.vue'
import allCoverStat from './common/allCoverStat.vue'
import expert from './common/expert.vue'
const getTime = function () {
  var now = new Date()
  var hh = now.getHours();
  if (hh < 10) hh = '0' + hh;
  var mm = now.getMinutes();
  if (mm < 10) mm = '0' + mm;
  var ss = now.getSeconds();
  if (ss < 10) ss = '0' + ss;
  return `${hh} : ${mm} : ${ss}`
}
const getDate = function () {
  var objD = new Date()
  var yy = objD.getYear();
  if (yy < 1900) yy = yy + 1900;
  var MM = objD.getMonth() + 1;
  if (MM < 10) MM = '0' + MM;
  var dd = objD.getDate();
  if (dd < 10) dd = '0' + dd;

  var ww = objD.getDay();
  if (ww === 0) ww = '星期日';
  if (ww === 1) ww = '星期一';
  if (ww === 2) ww = '星期二';
  if (ww === 3) ww = '星期三';
  if (ww === 4) ww = '星期四';
  if (ww === 5) ww = '星期五';
  if (ww === 6) ww = '星期六';
  return `${yy}/${MM}/${dd} ${ww}`
}
let timer = null
let update = null
export default {
  components: {
    statOne,
    statTwo,
    statThree,
    statFour,
    statFive,
    allCoverStat,
    midStat,
    deviceMap,
    statFooter,
    expert
  },
  data() {
    return {
      type: '',
      typeTitle: '全部行业',
      time: getTime(),
      date: getDate(),
      weather: {
        temperature: '20',
        info: '晴'
      },
      yearDay: this.$moment().format('YYYY年MM月')
    }
  },
  created() {
    const list = [
      {
        type: 'all',
        name: '全部行业'
      },
      {
        type: 'steel',
        name: '钢铁行业'
      },
      {
        type: 'cement',
        name: '水泥行业'
      },
      {
        type: 'petroleum',
        name: '石化行业'
      }
    ]

    this.type = this.$route.params.type
    let item = list.filter((item) => {
      return item.type == this.type
    })
    this.typeTitle = item[0].name
    timer = setInterval(() => {
      this.time = getTime()
      this.date = getDate()
    }, 1000)
  },
  mounted() {
    console.log(1, 173)
    if (update) {
      clearInterval(update)
      update = null
    }
    update = setInterval(() => {
      this.$store.commit('UPDATE_REFRESH_STATE')
    }, 8000);
  },
  beforeDestroy() {
    clearInterval(timer)
    timer = null
    clearInterval(update)
    update = null
  }
}
</script>
<style  lang="scss" scoped>
.boxMask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
}
</style>
